/**
 * ----------------------------------------------------------------------------------------
 * style.scss
 *
 * CSS framework.
 * ----------------------------------------------------------------------------------------
 */
/* Modules */
.map {
  height: 90% !important;
  padding-bottom: 45%;
  position: relative;
  width: 90%;
  margin: 5% auto;
  vertical-align: middle; }

/*# sourceMappingURL=styles.css.map */
